body {
    font-family: Arial, sans-serif;
    background: rgb(0,94,94);
    background: linear-gradient(340deg, rgba(0,94,94,0.6) 0%, rgba(213,70,252,0.6) 100%);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.wrapper{
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div{
    padding: 5px 0px;
}

input[type="text"],
input[type="date"],
input[type="numeric"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"],
input[type="next"] {
    background: linear-gradient(340deg, rgba(0,94,94,0.6) 0%, rgba(213,70,252,0.6) 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover,
input[type="next"]:hover {
    background: rgb(0,94,94);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.hidden{
    display: none;
}